<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Expense Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<!-- add new expense -->
		<ion-row>
			<ion-col size-md="6" size-lg="6" offset-md="3" offset-lg="3">
				<ion-card>
					<form (ngSubmit)="presentAlertConfirm()">
						<div class="ion-padding">
							<ion-card-header>
								<ion-card-title>New Expense</ion-card-title>
							</ion-card-header>
							<ion-item>
								<ion-label position="floating">Expense Reason</ion-label>
								 <ion-input type="text" name="reason" [(ngModel)]="newExpense.reason" ></ion-input>
							</ion-item>
							<ion-item>
								<ion-label position="floating">Expense Amount</ion-label>
								 <ion-input type="number" name="amount" [(ngModel)]="newExpense.amount"></ion-input>
							</ion-item>
							<div margin-vertical text-right>
								<ion-button fill="outline" color="danger">
									<ion-icon slot="start" name="close"></ion-icon>Close
								</ion-button>
								<ion-button type="submit">
									<ion-icon slot="start" name="add"></ion-icon>Add Expense
								</ion-button>
							</div>
						</div>
					</form>
		  	</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
